body {
  padding-top: 30px;
}

.well {
  padding: 19px 0;
}

.well label {
  width: auto;
  padding: 6px 8px 0 14px;
}

.container-fluid p {
  padding: 6px 8px 0 14px;
  margin-bottom: 0px;
}
.container-fluid input[type='time'] {
  width: 95px;
}